<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template">

<head>
	<meta charset="utf-8" />
	<title>Update Player</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href=@{../css/bootstrap.min.css} />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href=@{../css/style.css} />
</head>

<body>
	<div layout:fragment="content1">
		<div class="col-md-6 col-xs-12 espaciotop">
			<div class="card">
				<div class="card-header ">Update Player : </div>
				<div class="card-body">
					<form th:action=@{saveUpdatedPlayer(id=${player.id})} method="post">
						<div class="form-group">
							<label class="control-label">ID :</label>
							<a name="id" th:text=${player.id}></a>
							<label class="control-label">Username :</label>
							<input class="form-control" type="text" name="usernameNew" th:value="${player.username}" />
							<label class="control-label">% :</label>
							<a th:text=${player.percentatgedExit}></a>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>